<template>
    <b-modal :title="title" v-model="show" @close="hide" no-close-on-backdrop no-close-on-esc>
        <b-alert show variant="danger" v-if="error">
            <p v-for="error in errors">
                {{error}}
            </p>
        </b-alert>

        <b-form @submit="onSubmit" @reset="onReset">
            <b-form-group
                    id="input-group-1"
                    label="Descripción:"
                    label-for="input-1"
            >
                <b-form-input
                        id="input-1"
                        v-model="reporte.description"
                        type="text"
                        required
                        placeholder="Escribe una descripción"
                ></b-form-input>
            </b-form-group>

            <b-button type="submit" variant="primary" v-if="accion === 1">
                Agregar
            </b-button>
            <b-button type="submit" variant="primary" v-if="accion === 2">
                Actualizar
            </b-button>
            <b-button type="reset" variant="danger">
                Limpiar Campos
            </b-button>
        </b-form>

        <div slot="modal-footer">
            <b-button
                    variant="default"
                    size="sm"
                    class="float-right"
                    @click="hide"
            >
                Cancelar
            </b-button>
        </div>
    </b-modal>
</template>
<script>
    export default {
        props : ['title','okay','report','users','show','hide','errors','error','success','accion','successMessage'],
        data() {
            return {
                reporte : this.report,
                usuarios: []
            }
        },
        mounted(){
            const usuarios = [];
            usuarios.push({ text: 'Seleccionar...', value: null });
            this.users.map((item)=>{
                usuarios.push({text : item.username,value : item.id});
            });
            this.usuarios = usuarios;
        },
        methods: {
            onSubmit(evt) {
                evt.preventDefault()
                this.okay(this.reporte);
            },
            onReset(evt) {
                evt.preventDefault()
                // Reset our user values
                this.reporte.description = '';
                this.reporte.user_id = null;

                this.errors = [];
                this.error = false;
            }
        }
    }
</script>