<template>
    <div class="col-md-12 col-lg-12">
        <modal
                :report="report"
                :users="users"
                :accion="accion"
                :title="title"
                :hide="hideModal"
                :okay="onSubmitForm"
                :show="show"
                :error="error"
                :errors="errors"
        />
        <b-button variant="info" class="mb-3 float-right" @click="showModal">
            Agregar nuevo reporte
        </b-button>
        <b-table striped hover :items="reportes" :fields="fields">
            <template slot="acciones" slot-scope="cell">
                <b-button-group>
                    <b-button size="sm" variant="info" v-if="cell.item.own" @click="editReport(cell.item)">
                        Editar
                    </b-button>
                    <b-button size="sm" variant="danger" v-if="cell.item.own" @click="deleteReport(cell.item)">
                        Borrar
                    </b-button>
                </b-button-group>
            </template>
        </b-table>
    </div>
</template>

<script>
    import Modal from './Create';
    export default {
        props : ['reports','users'],
        components : {
            Modal
        },
        data(){
            return  {
                reportes : [],
                usuarios : [],
                errors : [],
                fields : {
                    id : {
                        label : 'ID'
                    },
                    description : {
                        label : 'Descripción'
                    },
                    usuario : {
                        label : 'Usuario'
                    },
                    creado_hace : {
                        label : 'Creado Hace'
                    },
                    acciones : {
                        label : 'Acciones'
                    }

                },
                report : {
                    description : '',
                    user_id : null,
                    id : null
                },
                accion : 1,
                title : '',
                show : false,
                error : false
            }
        },
        mounted(){
            this.usuarios = this.users;
            this.reportes = this.reports.data;
        },
        methods:{
            onSubmitForm(report){
                console.log(report);
                switch (this.accion) {
                    case 1 :
                        this.createReport(report);
                        break;
                    case 2 :
                        this.updateEmploye(report);
                        break;
                }
            },
            showModal(){
                this.show = true;
                this.accion = 1;
                this.title = 'Agregar nuevo reporte'
            },
            hideModal(){
                this.report.description = '';
                this.report.user_id = null;

                this.success = false;
                this.error = false;
                this.errors = [];
                this.show = false;
            },
            createReport(report){
                axios.post('/reports', {
                    ...report,
                }).then((response) => {
                    if (response.data.success) {
                        this.reportes = [response.data.report,...this.reportes];
                        this.hideModal();
                        setTimeout(() => {
                            this.$swal(
                                'Agregado!',
                                'El reporte ha sido agregado correctamente',
                                'success'
                            );
                        }, 100)
                    } else {
                        this.error = true;
                        this.errors = response.data.errors;
                    }
                });
            },
            updateEmploye(report){
                console.log(report);
                axios.put(`/reports/${report.id}`,{
                    ...report,
                }).then((response)=>{
                    if(response.data.success){
                        const {report} = response.data;
                        this.reportes.map((item)=>{
                            if(item.id === report.id){
                                item.description = report.description;
                                item.user_id = report.user_id;
                                item.usuario = report.usuario;
                            }
                        });
                        this.hideModal();
                        setTimeout(() => {
                            this.$swal(
                                'Actualizado!',
                                'El reporte ha sido actualizado correctamente',
                                'success'
                            );
                        }, 100)
                    }else{
                        this.error = true;
                        this.errors = response.data.errors;
                    }
                });

            },
            deleteReport(report){
                this.$swal({
                    title: 'Estas seguro de eliminar este reporte?',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Aceptar',
                    cancelButtonText: 'Cancelar',
                    reverseButtons: true
                }).then((result) => {

                    if (result.value) {
                        axios.delete(`/reports/${report.id}`,{
                        }).then((response)=>{
                            console.log(response);
                            if(response.data.success){
                                this.reportes = this.reportes.filter(({id})=> id !== report.id);
                                this.$swal(
                                    'Eliminado!',
                                    'El reporte ha sido eliminado',
                                    'success'
                                );
                            }
                        }).catch((error)=>{
                            console.warn(error);
                        })

                    } else if (result.dismiss === Swal.DismissReason.cancel) {

                    }
                })
            },
            editReport(report){
                this.title = 'Actualizar reporte';
                this.accion = 2;
                this.report.description= report.description;
                this.report.user_id = report.user_id;
                this.report.id = report.id;
                this.show = true;
            }
        }
    }
</script>