<template>
    <b-modal :title="title" v-model="show" @close="hide" no-close-on-backdrop no-close-on-esc>
        <b-alert show variant="danger" v-if="error">
            <p v-for="error in errors">
                {{error}}
            </p>
        </b-alert>

        <b-form @submit="onSubmit" @reset="onReset">
            <b-form-group
                    id="input-group-1"
                    label="Nombre de usuario:"
                    label-for="input-1"
            >
                <b-form-input
                        id="input-1"
                        v-model="user.username"
                        type="text"
                        required
                        placeholder="Ingresa un nombre de usuario"
                ></b-form-input>
            </b-form-group>

            <b-form-group
                    id="input-group-1"
                    label="Email:"
                    label-for="input-1"
            >
                <b-form-input
                        id="input-1"
                        v-model="user.email"
                        type="email"
                        required
                        placeholder="Ingresa un email"
                ></b-form-input>
            </b-form-group>

            <b-form-group id="input-group-3" label="Rol:" label-for="input-3">
                <b-form-select
                        id="input-3"
                        v-model="user.role"
                        :options="roles"
                        required
                ></b-form-select>
            </b-form-group>

            <b-form-group id="input-group-2" label="Contraseña:" label-for="input-2">
                <b-form-input
                        id="input-2"
                        v-model="user.password"
                        :required="accion===1"
                        placeholder="Ingresa una contraseña"
                        type="password"
                ></b-form-input>
            </b-form-group>

            <b-button type="submit" variant="primary" v-if="accion === 1">
                Agregar
            </b-button>
            <b-button type="submit" variant="primary" v-if="accion === 2">
                Actualizar
            </b-button>
            <b-button type="reset" variant="danger">
                Limpiar Campos
            </b-button>
        </b-form>

        <div slot="modal-footer">
            <b-button
                    variant="default"
                    size="sm"
                    class="float-right"
                    @click="hide"
            >
                Cancelar
            </b-button>
        </div>
    </b-modal>
</template>
<script>
    export default {
        props : ['title','okay','employe','show','hide','errors','error','success','accion','successMessage'],
        data() {
            return {
                user : this.employe,
                roles: [{ text: 'Seleccionar...', value: null }, { text: 'Administrador', value: 1 },{ text: 'Empleado', value: 0 }],
            }
        },
        methods: {
            onSubmit(evt) {
                evt.preventDefault()
                this.okay(this.user);
            },
            onReset(evt) {
                evt.preventDefault()
                // Reset our user values
                this.user.username = '';
                this.user.role = null;
                this.user.email = '';
                this.user.password = '';
                this.errors = [];
                this.error = false;
            }
        }
    }
</script>