<template>
    <div class="col-md-12 col-lg-12">
        <modal
                :title="title"
                :okay="onSubmitForm"
                :employe="user"
                :show="show"
                :hide="hideModal"
                :error="error"
                :errors="errors"
                :success="success"
                :accion="accion"
                :successMessage="successMessage"
        />
        <b-button variant="info" class="mb-3 float-right" @click="showModal">
            Agregar nuevo empleado
        </b-button>
        <b-table striped hover :items="usuarios" :fields="fields">
            <template slot="acciones" slot-scope="cell">
                <b-button-group>
                    <b-button size="sm" variant="info" @click.stop="editEmploye(cell.item)">
                        Editar
                    </b-button>
                    <b-button size="sm" variant="danger" @click.stop="removeEmploye(cell.item)">
                        Borrar
                    </b-button>
                </b-button-group>
            </template>
        </b-table>
    </div>
</template>

<script>
    import Modal from './Create';
    export default {
        props : ['users','roles'],
        components :{
            Modal
        },
        data(){
            return {
                errors : [],
                usuarios : [],
                fields : {
                    id : {
                        label : 'ID'
                    },
                    username : {
                        label : 'Usuario'
                    },
                    role :{
                        label : 'Rol'
                    },
                    acciones : {
                        label : 'Acciones'
                    }
                },
                show : false,
                error : false,
                success : false,
                accion : 1,
                successMessage : '',
                title : '',
                user : {
                    username : '',
                    role : null,
                    id : null,
                    password : '',
                    email : ''
                },
            }
        },
        mounted(){
            this.usuarios = this.users.data;
            console.log(this.usuarios);
        },
        methods :{
            showModal(){
                this.show = true;
                this.accion = 1;
                this.title="Agregar Nuevo empleado";
                console.log('vamo a mostrar');
            },
            hideModal(){
                this.user.username = '';
                this.user.role = null;
                this.user.email = '';
                this.user.password = '';
                this.success = false;
                this.error = false;
                this.errors = [];
                this.show = false;
            },
            onSubmitForm(user){
                switch (this.accion) {
                    case 1 :
                        this.addNewEmploye(user);
                        break;
                    case 2 :
                        this.updateEmploye(user);
                        break;
                }
            },
            addNewEmploye(user){
                axios.post('/employes', {
                    ...user,
                }).then((response) => {
                    if (response.data.success) {
                        this.usuarios = [response.data.employe,...this.usuarios];
                        this.hideModal();
                        setTimeout(() => {
                            this.$swal(
                                'Agregado!',
                                'El empleado ha sido agregado correctamente',
                                'success'
                            );
                        }, 100)
                    } else {
                        this.error = true;
                        this.errors = response.data.errors;
                    }
                });

            },
            updateEmploye(user){
                console.log(user);
                axios.put(`/employes/${user.id}`,{
                    ...user,
                }).then((response)=>{
                    if(response.data.success){
                        const {employe} = response.data;
                        this.usuarios.map((item)=>{
                            if(item.id === user.id){
                                item.username = employe.username;
                                item.email = employe.email;
                                item.typeRole = employe.typeRole;
                                item.role = employe.role;
                            }
                        });
                        this.hideModal();
                        setTimeout(() => {
                            this.$swal(
                                'Actualizado!',
                                'El empleado ha sido actualizado correctamente',
                                'success'
                            );
                        }, 100)
                    }else{
                        this.error = true;
                        this.errors = response.data.errors;
                    }
                });

            },
            editEmploye(employe){
                this.title="Actualizar empleado";
                this.user.id = employe.id;
                this.user.username = employe.username;
                this.user.role = employe.typeRole;
                this.user.email = employe.email;
                this.accion = 2;
                this.show = true;
            },
            removeEmploye(employe){
                this.$swal({
                    title: 'Estas seguro de Eliminar este empleado?',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Aceptar',
                    cancelButtonText: 'Cancelar',
                    reverseButtons: true
                }).then((result) => {

                    if (result.value) {
                        axios.delete(`/employes/${employe.id}`,{
                        }).then((response)=>{
                            if(response.data.success){
                                this.usuarios = this.usuarios.filter(({id})=> id !== employe.id);
                                this.$swal(
                                    'Eliminado!',
                                    'El empleado ha sido eliminado',
                                    'success'
                                );
                            }
                        }).catch((error)=>{
                            console.warn(error);
                        })

                    } else if (result.dismiss === Swal.DismissReason.cancel) {

                    }
                })
            }
        }
    }
</script>